# PAN TS Agent Discover
15 * * * *     /opt/pan-ts-agent-discovery/discover.tcl >> /var/log/pan-tsagent-discover.log 2>&1
# PAN TS Agent Purge - do not run at same time as discovery add!
30 5 * * *     /opt/pan-ts-agent-discovery/purge.tcl >> /var/log/pan-tsagent-purge.log 2>&1

